node_modules/
.expo/
.expo-shared/
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
ios/build/
ios/Pods/
android/hs_err_pid*.log
android/replay_pid*.log
*.log
.DS_Store
.vscode/
.idea/
coverage/
.git/
